In [8]:
# EV Charging Stations Comparison Data Project

In [9]:
# Import dependencies
import pandas as pd
import requests
import json
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress
import scipy.stats as st
from config import api_key
from pprint import pprint

In [10]:
# Make API call
url = "https://api.openchargemap.io/v3/poi"

querystring = {"key":api_key}

headers = {"Accept": "application/json"}

response = requests.get(url, headers=headers, params=querystring)
response = response.json()

In [11]:
# Use Pandas to clean and Format Datasets
# US Charging Station Data
country = ['United States']
us_data = []

# loop through lists
for towns in response:

    city = towns['AddressInfo']['Town']
    titles = towns['AddressInfo']['Title']
    address = towns['AddressInfo']['AddressLine1']
    level = towns['Connections'][0]['LevelID']

    # Append the City information into city_data list
    us_data.append({"City": city, 
                        "Title": titles, 
                        "Address": address, 
                        "Level": level})

In [12]:
# Use Pandas to clean and Format Datasets
# UK Charging Station Data
# Create empty lists to store the data
country = ['United Kingdom']
town = []
title = []
address_info = []
level_id = []

# loop through lists
for towns in response:
    
    city = towns['AddressInfo']['Town']
    town.append(city)
    
    titles = towns['AddressInfo']['Title']
    title.append(titles)
    
    address = towns['AddressInfo']['AddressLine1']
    address_info.append(address)
    
    level = towns['Connections'][0]['LevelID']
    level_id.append(level)

In [13]:
# Create a DataFrame for the US data
us_data_df = pd.DataFrame(us_data)
us_data_df.head()

,City,Title,Address,Level
0,Paraparaumu,Paraparaumu Supercharger,150 Coastlands Parade,3.0
1,Medina del Campo,Repsol Medina del Campo,Autovía del Noroeste,3.0
2,Lizzano In Belvedere,Be Charge La Cà,Via Madonna dell'Acero 64,2.0
3,Serravalle,Supercharger Serravalle disponibili per i veic...,Rotonta Costante Girardengo,3.0
4,Baldivis,Ampol Foodary Baldivis,Safety Bay Road,3.0

In [ ]:
# Create a DataFrame for the UK data

In [45]:
# Combined Data